body {
    background-color: #edf6f9;
    padding-top: 70px;
}
.navbar {
    background-color: #edf6f9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
.navbar-nav {
    align-items: center;
    gap: 15px;
}
.navbar-nav .nav-link {
    color: #333;
    padding: 0 10px;
    transition: color 0.3s, transform 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #666;
    transform: scale(1.1);
}
.navbar-brand img {
    max-width: 200px;
    height: auto;
}
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
}
.footer {
    background-color:black;
    color: #edf6f9; 
    padding: 40px 0;
}
.footer h5 {
    font-weight: bold;
    margin-bottom: 10px;
}
.footer p,
.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer a {
    color: #edf6f9; 
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-bottom a {
    color: #edf6f9;
    text-decoration: none;
}
.footer-bottom a:hover {
    text-decoration: underline;
}
/* Contact Form */
.contact-section {
    padding: 50px 0;
}
.contact-section h2 {
    font-weight: bold;
    margin-bottom: 30px;
}
.contact-section p {
    margin-bottom: 20px;
}
.contact-section form input,
.contact-section form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-section form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-section form button:hover {
    background-color: #666;
}